/*Globais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    /*Cores fontes*/
    --azul-escuro:#1f314f ;
    --azul-cinza:#68778d;
    --cinza-claro: #d5e1ef;
    --branco: #fff;
    /*Tamanhos fontes*/   
    --fs-lg:1.2rem;
    --fs-md:0.9rem;
}

body{
    background-color: var(--cinza-claro);
    font-family: 'Outfit', sans-serif;
}

/*Configuração única para diferentes telas*/
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-container{
    background-color: var(--branco);
    max-width: 20rem;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    margin: 0;
}

.qr-container img{
    width: 100%;
    border-radius: 10px;
}

.qr-text {
    display: flex;
    flex-direction: column;
    padding-block-start: 1rem;
    
    
}

.m-text {
    color: var(--azul-escuro);
    font-size: var(--fs-lg);
    font-weight: 800;
    text-align: center;
    line-height: 1.3;

}

.p-text{
    color: var(--azul-cinza);
    font-size: var(--fs-md);
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    padding: 1.5rem;
}